body{
    background-color:whitesmoke;
    margin: 15px
}

h1{
    color:palevioletred; 
    font-size:xx-large; 
    font-stretch:ultra-expanded;
    padding:25px
    margin: 2000px;
}

h2{
    color:purple; 
    font-size:x-large; 
    font-stretch:ultra-expanded;
}

h3{
    color:palevioletred; 
    font-size:large; 
    font-stretch:ultra-expanded;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

td {
    text-align: center;
}

/*CSS Class*/
.photo {font-style: italic;}

/*CSS Reset*/
html {margin:0; padding:0; font-size:medium; line-height: 1;}
